<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas de Reserva</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>minhas Reservas</p>
  <strong>
    Uma media query consiste de um media type e pelo menos uma expressão que limita
    o escopo das folhas de estilo usando media features, tal como largura, altura e cor.
    Media queries, adicionadas no CSS3, deixam a apresentação do conteúdo adaptado a uma gama especifica de dispositivos
    não precisando mudar o conteúdo em si.
  </strong>
</ion-content>