<app-header></app-header>
<br>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-sm="2" size-md="8" size-xs="12">
        <div class="alinhamento" *ngFor="let viagem of viagem">
          <strong>{{viagem.titulo}}</strong><br>
          <img src={{viagem.imagem}} alt="imagem">
          <div ion-row>
            <strong>{{(viagem.status == true ? "Disponivel" :  "Indisponivel")}}</strong><br>
            <ion-button fill="clear">
              <ion-icon name="bookmarks"></ion-icon> Agendar
            </ion-button><br><br>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>
    Media queries consistem de um media type e podem, a partir de uma especificação CSS3, contendo uma ou mais
    expressões, expressa em media features, que determinam ou verdadeiro ou falso. Os resultados da query são
    verdadeiros se o media type especificado na media
    query corresponde ao tipo do documento exibido no dispositivo e todas as expressões na media query são
    verdadeiras.
  </p>
</ion-content>